Source: gka-contacts-qt
Section: misc
Priority: extra
Maintainer: Adam Boardman <adamboardman@gmail.com>
Standards-Version: 3.9.8
Homepage: https://github.com/adamboardman/gka-contacts-qt
Vcs-Git: https://github.com/adamboardman/gka-contacts-qt.git
Build-Depends:
 debhelper (>= 9),
 intltool,
 cmake,
 extra-cmake-modules,
 python3:any,
 qml-module-qtcontacts,
 qml-module-qtquick2,
 qml-module-qttest,
 qml-module-qtquick-controls2,
 qml-module-qtquick-templates2,
 qml-module-qtgraphicaleffects,
 qml-module-qtqml-models2,
 qml-module-qtquick-controls,
 qml-module-qtquick-layouts,
 qml-module-qtquick-window2,
 qml-module-qtquick-dialogs,
 gka-toolkit-qt,
 qtbase5-dev,
 qtdeclarative5-dev-tools,
 qtdeclarative5-dev,
 qtquickcontrols2-5-dev,
 qtpim5-dev,

Package: gka-contacts-qt
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 qml-module-qt-labs-settings,
 qml-module-qtcontacts,
 qml-module-qtorganizer,
 qml-module-qtquick-layouts,
 qml-module-qtquick-controls,
 qml-module-qtquick-controls2,
 qml-module-qtquick-templates2,
 libqt5quickcontrols2-5,
 qtorganizer5-eds,
 gka-toolkit-qt,
Description: Contacts application for touch+mouse+keyboard operation
 The Contacts application gives easy access to contacts.
 .
 Based on QT.

